<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" />
        <span></span>
    </div>

    <input type="submit" value="Add Job" />

    <div class="form-group">
        <label>Employer</label>
        <input class="form-control" />
        <a asp-controller="Employer" asp-action="Add">Add Employer</a>
        <span></span>
    </div>
</form>

