@model TechJobsPersistent.ViewModels.AddJobViewModel
<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>


    <div class="form-group">
        <label asp-for="EmployerID">Employer</label>        
        <select asp-for="EmployerID" asp-items="@Model.AllEmployers" class="form-control"></select>
        <a asp-controller="Employer" asp-action="Add">Add Employer</a>
    </div>

    
    <div class="form-group">
        <label>Skills:</label>

            @foreach (Skill skill in 
                @Model.AllSkills)
            {
                <label asp-for="AllSkills">@skill.Name</label>
                <input type="checkbox" name="selectedSkills" value="@skill.Id" class="form-control" />
            }
        
        <a asp-controller="Skill" asp-action="Add">Add Skill</a>
    </div>


    <input type="submit" value="Add Job" />
    <br />

</form>


